.vs/
*.cld
*.map
*.map.bak
*.map.bak.zip
*.ilk
ph2ed_proto/libs.obj
ph2ed_proto/main.obj
cld/*.obj
cld_proto/*.obj
*.exp
*.lib
*.pdb
cld*.exe
ph2*.exe
*.glsl.h
remedybg.exe
*.spall
ph2ed_proto/map/*.obj
ph2ed_proto/map/*.mtl
ph2ed_proto/map/*.dds
