.vs/
ph2ed_proto/assets/
misc/John_Modest_SH_Level_Viewer*.zip
misc/SH_Texture_Explorer*.zip
*.cld
*.map
*.map.bak.zip  
ph2ed_proto/libs.obj
ph2ed_proto/main.obj
*.pdb
cld*.exe
cld*.obj
ph2*.exe
ph2*.obj
*.glsl.h
*.spall
ph2ed_proto/imgui.ini
ph2ed_proto/settings.ph2
